html{
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
    padding-left: 10px;
}

tr>td{
    text-align: center;
    font-size: 16px;
    margin: 0 0;
    text-transform: uppercase;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: stretch;
    position: absolute;
}

#sidenav {
    height: auto;
    flex: 1;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #404042;
    border-right: 1px solid #2a2a2b;
    text-indent: 15px;
    overflow-x: hidden;
}

.nav-elem{
    height: 50px;
    color: #8f8f92;
    margin: 0 0 auto;
    padding-top: 7%;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid #2a2a2b;
}

.nav-elem:hover{
    color: whitesmoke;
}

#nav-header{
    color: whitesmoke;
    background-color: darkorange;

}

#content{
    flex: 7;
    height: auto;
    overflow: scroll;
}

#add_new {
    color: darkorange;

}

.table td{
    vertical-align: middle;
    font-weight: bolder;
}

.add_new_form {
    color: whitesmoke;
    padding-top: 25px;
    text-align: center;
}

.add_new_form div{
    padding-bottom: 10px;
}

.submit-button{
    background: none;
    text-transform: uppercase;
    font-size: 23px;
    border: 3px;
    color: darkorange;
}

.submit-button:hover{
    transition: all 0.5s ease;
    color: whitesmoke;
}

.submit-button-div{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: right;
}

#flashes{
    background-color: darkred;
    color: whitesmoke;
    list-style-type: none;
    height: 30px;
    padding-top: 3px;
    text-align: center;
}