{% extends 'base.html' %}

{% block title %} Award receptions {% endblock %}

{%block content %}

<div container>
    <div id="award_receptions" style="display: inline-flex">
        <h1>Albums having {{ award_name }} </h1>
    </div>
    <div style="display: inline-flex; float: right; padding-top: 7px">
        <form action="/award_receptions_search" method="post">
            {{ query_form.csrf_token }}
            {{ query_form.query }}
            <div style="display: inline-flex" class="submit-button">{{ query_form.submit(class_="submit-button") }}</div>
        </form>
    </div>
/
    <table class="table">
        <tbody>
        <tr style="color: darkorange">
            <th></th>
            <td> Name </td>
            <td> Band </td>
            <td> Genre </td>
        </tr>
        {% for award_album in my_award_receptions %}
            <tr>
                <th scope="row">{{ loop.counter }}</th>
                <td> {{ award_album.name }} </td>
                <td>{{ award_album.band }}</td>
                <td>{{ award_album.genre }}</td>
                <td>
                    <a href="{{ url_for('award_receptions.award_reception_delete', award=award_album.award, id_album=award_album.id_album) }}">
                        <button class="my-button delete-button" type="button">Delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block form %}
    <div class="add_new_form">
        <form action="/award_receptions/{{ award_name }}" method="post" novalidate>
        {{ form.csrf_token }}

        <div>{{ form.album.label.text }} </br>
        {{ form.album }}
        </div>

        <div class="submit-button">{{ form.submit(class_="submit-button") }}</div>

        </form>
    </div>
{% endblock %}