{% extends 'base.html' %}

{% block title %} Awards {% endblock %}

{%block content %}

<div container>
    <div id="awards" style="display: inline-flex">
        <h1>Awards</h1>
    </div>

    <div style="display: inline-flex; float: right; padding-top: 7px">
        <form action="/awards_search" method="post">
            {{ query_form.csrf_token }}
            Query: {{ query_form.query }}
            <div style="display: inline-flex" class="submit-button">{{ query_form.submit(class_="submit-button") }}</div>
        </form>
    </div>

    <table class="table">
        <tbody>
        <tr style="color: darkorange">
            <th></th>
            <td> Name </td>
        </tr>
        {% for award in awards%}
            <tr>
                <th scope="row">{{ loop.counter }}</th>
                <td>
                    <a href="{{ url_for('award_receptions.award_receptions', award=award.name)}}"> {{ award.name }} </a>
                </td>
                <td>
                    <a href="{{ url_for('awards.award_delete', name=award.name) }}">
                        <button class="my-button delete-button" type="button">Delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block form %}
    <div class="add_new_form">
        <form action="/awards" method="post" novalidate>
        {{ form.csrf_token }}

        <div>{{ form.name.label.text }} </br>
        {{ form.name }}
        </div>

         <div>{{ form.to_edit.label.text }} </br>
        {{ form.to_edit }}
        </div>

        <div class="submit-button">{{ form.submit(class_="submit-button") }}</div>

        </form>
    </div>
{% endblock %}