{% extends 'base.html' %}

{% block title %} Bands {% endblock %}

{%block content %}

<div container>
    <div id="bands">
        <h1>Bands</h1>
    </div>

    <table class="table">
        <tbody>
        {% for band in my_bands %}
            <tr>
                <th scope="row">{{ loop.counter }}</th>
                <td>{{ band.name }}</td>
                <td><img src="https://picsum.photos/100/50"></img></td>
                <td>{{ band.formation_date }}</td>
                <td>
                    <button class="my-button see_more" type="button">More</button>
                    <a href="{{ url_for('bands.band_delete', name=band.name) }}">
                        <button class="my-button delete-button" type="button">Delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block form %}
    <div class="add_new_form">
        <form action="/bands" method="post" novalidate>
        {{ form.csrf_token }}

        <div>{{ form.name.label.text }} </br>
        {{ form.name }}
        </div>

        <div>{{ form.formation_date.label.text }} </br>
        {{ form.formation_date }}
        </div>

       <div>{{ form.to_edit.label.text }} </br>
        {{ form.to_edit }}
        </div>

        <div class="submit-button">{{ form.submit(class_="submit-button") }}</div>

        </form>
    </div>
{% endblock %}