{% set css_file = url_for('static', filename='css/main.css') %}
{% set bootstrapcss = url_for('static', filename='bootstrap/css/bootstrap.min.css') %}
{% set bootstrapjs = url_for('static', filename='bootstrap/js/bootstrap.min.js') %}
{% set icon = url_for('static', filename='images/piano.png') %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ bootstrapcss }}"/>
    <link rel="stylesheet" type="text/css" href="{{ css_file }}"/>

    <title>{% block title %} {% endblock %}</title>

</head>
<body>

    <div class="wrapper">
        <div id="sidenav">
            <div id="nav-header" class="nav-elem">
                Concertina
            </div>
            <div class="nav-elem">
                Concerts
            </div>
            <div class="nav-elem">
                Festivals
            </div>
            <div class="nav-elem">
                Artists
            </div>
            <div class="nav-elem">
                Albums
            </div>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{{ bootstrapjs }}"></script>

</body>
</html>