{% extends 'base.html' %}

{% block title %} Concerts {% endblock %}

{%block content %}

<div container>
    <div id="concerts">
        <h1>Incoming concerts</h1>
    </div>

    <table class="table">
        <tbody>
        {% for concert in incoming %}
            <tr>
                <th scope="row">{{ loop.counter }}</th>
                <td>{{ concert.concert_date}}</td>
                <td><img src="https://picsum.photos/100/50"></img></td>
                <td>{{ concert.band }}</td>
                <td>{{ concert.name }} / {{ concert.city }}</td>
                <td>
                    <button class="my-button see_more" type="button">Buy Ticket</button>
                    <a href="{{ url_for('concerts.concert_modify', id_concert=concert.id_concert), }}">
                        <buttom class="my-button modify-button" type="buttom">Modify</buttom>
                    </a>
                    <a href="{{ url_for('concerts.concert_delete', id_concert=concert.id_concert) }}">
                        <button class="my-button delete-button" type="button">Delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block form %}
    <div class="add_new_form">
        <form action="/concerts" method="post" novalidate>
        {{ form.csrf_token }}

        <div>{{ form.band.label.text }} </br>
        {{ form.band }}
        </div>

        <div>{{ form.place.label.text }} </br>
        {{ form.place }}
        </div>

        <div>{{ form.concert_date.label.text }} </br>
        {{ form.concert_date }}
        </div>

        <div>{{ form.tour.label.text }} </br>
        {{ form.tour }}
        </div>

        <div class="submit-button">{{ form.submit(class_="submit-button") }}</div>

        </form>
    </div>
{% endblock %}