{% extends 'base.html' %}

{% block title %} Concerts {% endblock %}
{%block content %}

<div container>
    <div id="concerts">
        <h1>This week</h1>
    </div>
    <div class="row">
{#        {% for concert in concerts_w_tym_tygodniu %}#}
        <div class="col-md-4 col-sm-6 concert-card">
            <img src="https://picsum.photos/seed/picsum/200/200">
            Zespol/info/nazwa/opis
        </div>
        <div class="col-md-4 col-sm-6 concert-card">
            <img src="https://picsum.photos/seed/picsum/200/200">
            Zespol/info/nazwa/opis
        </div>
        <div class="col-md-4 col-sm-6 concert-card">
            <img src="https://picsum.photos/seed/picsum/200/200">
            Zespol/info/nazwa/opis
        </div>
{#        {% endfor %}#}
    </div>

    <div id="concerts">
        <h1>This month</h1>
    </div>
    <div class="row">
{#        {% for concert in concerts_w_tym_miesiacu %}#}
        <div class="col-md-4 col-sm-6 concert-card">
            <img src="https://picsum.photos/seed/picsum/200/200">
            Zespol/info/nazwa/opis
        </div>
        <div class="col-md-4 col-sm-6 concert-card">
            <img src="https://picsum.photos/seed/picsum/200/200">
            Zespol/info/nazwa/opis
        </div>
        <div class="col-md-4 col-sm-6 concert-card">
            <img src="https://picsum.photos/seed/picsum/200/200">
            Zespol/info/nazwa/opis
        </div>
{#        {% endfor %}#}
    </div>
<div class="row">
{#        {% for concert in concerts_w_tym_miesiacu %}#}
        <div class="col-md-4 col-sm-6 concert-card">
            <img src="https://picsum.photos/seed/picsum/200/200">
            Zespol/info/nazwa/opis
        </div>
        <div class="col-md-4 col-sm-6 concert-card">
            <img src="https://picsum.photos/seed/picsum/200/200">
            Zespol/info/nazwa/opis
        </div>
        <div class="col-md-4 col-sm-6 concert-card">
            <img src="https://picsum.photos/seed/picsum/200/200">
            Zespol/info/nazwa/opis
        </div>
{#        {% endfor %}#}
    </div>
<div class="row">
{#        {% for concert in concerts_w_tym_miesiacu %}#}
        <div class="col-md-4 col-sm-6 concert-card">
            <img src="https://picsum.photos/seed/picsum/200/200">
            Zespol/info/nazwa/opis
        </div>
        <div class="col-md-4 col-sm-6 concert-card">
            <img src="https://picsum.photos/seed/picsum/200/200">
            Zespol/info/nazwa/opis
        </div>
        <div class="col-md-4 col-sm-6 concert-card">
            <img src="https://picsum.photos/seed/picsum/200/200">
            Zespol/info/nazwa/opis
        </div>
{#        {% endfor %}#}
    </div>
<div class="row">
{#        {% for concert in concerts_w_tym_miesiacu %}#}
        <div class="col-md-4 col-sm-6 concert-card">
            <img src="https://picsum.photos/seed/picsum/200/200">
            Zespol/info/nazwa/opis
        </div>
        <div class="col-md-4 col-sm-6 concert-card">
            <img src="https://picsum.photos/seed/picsum/200/200">
            Zespol/info/nazwa/opis
        </div>
        <div class="col-md-4 col-sm-6 concert-card">
            <img src="https://picsum.photos/seed/picsum/200/200">
            Zespol/info/nazwa/opis
        </div>
{#        {% endfor %}#}
    </div>
<div class="row">
{#        {% for concert in concerts_w_tym_miesiacu %}#}
        <div class="col-md-4 col-sm-6 concert-card">
            <img src="https://picsum.photos/seed/picsum/200/200">
            Zespol/info/nazwa/opis
        </div>
        <div class="col-md-4 col-sm-6 concert-card">
            <img src="https://picsum.photos/seed/picsum/200/200">
            Zespol/info/nazwa/opis
        </div>
        <div class="col-md-4 col-sm-6 concert-card">
            <img src="https://picsum.photos/seed/picsum/200/200">
            Zespol/info/nazwa/opis
        </div>
{#        {% endfor %}#}
    </div>

</div>

{% endblock %}