{% extends 'base.html' %}

{% block title %} Concerts {% endblock %}
{%block content %}

<div container>
    <div id="concerts">
        <h1>Incoming concerts</h1>
    </div>

    <table class="table">
        <tbody>
        {% for concert in incoming %}
            <tr>
                <th scope="row">{{ loop.counter }}</th>
                <td>{{ concert.concert_date}}</td>
                <td><img src="https://picsum.photos/100/50"></img></td>
                <td>{{ concert.band }}</td>
                <td>{{ concert.name }} / {{ concert.city }}</td>
                <td><button class="see_more" type="button">See more</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="festivals">
        <h1>Festivals</h1>
    </div>
</div>

{% endblock %}