{% extends 'base.html' %}

{% block title %} Songs {% endblock %}

{%block content %}

<div container>
    <div id="songs">
        <h1>Songs</h1>
    </div>

    <table class="table">
        <tbody>
        {% for song in my_songs %}
            <tr>
                <th scope="row">{{ loop.counter }}</th>
                <td>{{ song.position}}</td>
                <td>{{ song.name }}</td>
                <td>
                    <button class="see_more" type="button">Modify</button>
                    <a href="{{ url_for('songs.song_delete', id_song=song.id_song) }}">
                        <button class="alert-danger" type="button">Delete</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block form %}
    <div class="add_new_form">
        <form action="/songs" method="post" novalidate>
        {{ form.csrf_token }}

        <div>{{ form.position.label.text }} </br>
        {{ form.position }}
        </div>

        <div>{{ form.name.label.text }} </br>
        {{ form.name }}
        </div>

        <div class="submit-button">{{ form.submit(class_="submit-button") }}</div>

        </form>
    </div>
{% endblock %}