{% extends 'base.html' %}
{% block title %} Flask {% endblock %}


{% block body %}

    <div id="register-login">
        <form action="/login" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                <div class="text-above">
                {{ form.username.label(class_="register-login-text") }} </br>
                </div>
                {{ form.username(size=32) }} </br>
                {% for error in form.username.errors %}
                    <span class="error"> {{ error }} </span>
                {% endfor %}
            </p>
            <p>
                <div class="text-above">
                {{ form.password.label(class_="register-login-text") }} </br>
                </div>
                {{ form.password(size=32) }} </br>
                {% for error in form.password.errors %}
                 <span class="error"> {{ error }} </span>
                {% endfor %}
            </p>
            <p> 
                <div class="button-below">
                {{ form.submit(class_="register-login-button") }}
                </div>  
            </p>
        </form>
    </div>

{% endblock %}